<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EventPass</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
  <h1>Events</h1>
  <div class="event-list">
    <%- include('event-paginated', { events: events }) -%>
  </div>
    <% if (paginated) { %>
      <button id="load-more-btn" class="load-more-btn">Load More</button>
      <div id="loader" class="loader"></div>
    <% } %>
  <script src="/js/app.js"></script>
</body>
</html>
