body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .event-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .event-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 300px;
    overflow: hidden;
  }

  .event-image {
    max-width: 100%;
    max-height: 200px;
    overflow: hidden;
    position: relative;
  }
  
  .event-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .zoom-image {
    transition: transform 0.3s ease;
  }
  
  .zoom-image:hover {
    transform: scale(1.15);
  }
  
  .event-details {
    padding: 10px;
  }
  
  .event-name {
    font-size: 18px;
    margin: 0;
    color: #333;
  }
  
  .event-date {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
  }
  
  .event-price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
  }

  .event-venue{
    font-size: 14px;
    color: #666;
    margin: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .event-organizer {
    font-size: 15px;
    color: #666;
    margin: 5px 0;
    display: flex;
    align-items: center;
  }
  
  .event-organizer svg {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    flex-shrink: 0;
  }

  .load-more-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .load-more-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    display: none; /* Initially hidden */
    margin: 20px auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }