body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
  }

  .navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-brand img {
    height: 30px;
  }
  
  .position-relative .position-absolute {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .event-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .zoom-image {
    transition: transform 0.3s ease;
  }
  
  .zoom-image:hover {
    transform: scale(1.15);
  }
  
  .event-details {
    padding: 10px;
  }
  
  .event-name {
    font-size: 18px;
    margin: 0;
    color: #333;
  }
  
  .event-date {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
  }
  
  .event-price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
  }

  .event-venue{
    font-size: 14px;
    color: #666;
    margin: 10px 0;
    display: flex;
    align-items: center;
  }
  
  #loader {
    display: none;
  }

  .logo {
    width: auto;
  }
  
  @media (max-width: 991.98px) {
    body {
      padding-top: 56px;
    }
  }
  
  img.img-fluid {
    max-width: 100%;
    height: auto;
  }


  .categories-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.categories-container::-webkit-scrollbar {
    display: none;
}
.category-item {
    scroll-snap-align: start;
    position: relative;
    text-align: center;
    flex-shrink: 0;
    margin-right: 8px;
}

.category-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.category-item h3 {
    position: absolute;
    bottom: 10px;
    left: 20%;
    transform: translateX(-20%);
    margin-top: 8px;
    font-size: 16px;
    color: white;
    text-shadow: 1px 1px 2px black;
}