<% if (searchTerm == '') { %>
    <div class="position-relative">
        <img src="../images/hero-image.png" class="img-fluid w-100" alt="Hero Image">
        <div class="position-absolute top-50 start-50 translate-middle text-center text-white">
          <h1 class="display-4 fw-bold mb-4 text-white text-center">YOUR PASS TO UNFORGETTABLE MEMORIES!</h1>
        </div>
      </div>
    <div id="categoriesContainer"></div>
    <div id="eventsContainer"></div>
<% } else { %>
    <div id="searchEventsContainer"></div>
<% } %>