<div class="container my-4">
    <h1 class="mb-4 text-left"><b>Categories</b></h1>
    <div class="categories-container d-flex overflow-auto">
      <% categories.forEach(function(category) { %>
        <div class="category-item flex-shrink-0 mr-3">
          <img src="<%= category.image %>" alt="<%= category.name %>">
          <h3><%= category.name %></h3>
        </div>
      <% }); %>
    </div>
  </div>